.container {
	display: flex;
	justify-content: space-evenly;
}

.searchChannels {
	margin-top: 1%;
	margin-left: 21%;
	width: 35%;
	background-color: #e0e0e0;
	border-radius: 4px;
	box-sizing: content-box;
}

.searchChannels .dropdown {
	display: none;
}

.searchChannels .search:focus-within .dropdown {
	position: absolute;
	background-color: #e0e0e0;
	display: block;
}

.chat {
	margin-top: 1%;
	margin-bottom: 0%;
	margin-left: 20%;
	margin-right: 0px;

	border-radius: 15px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	background-color: rgba(18, 17, 17, 0.671);

	width: 50%;
	height: 88vh;
}

.chatHistory {
	/* position: relative; */
	display: flex;
	flex-direction: column-reverse;
	height: 85%;
	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-color: grey darkgrey;
	scrollbar-gutter: stable both-edges;

	margin-top: 2%;
	margin-left: 1%;

	border-radius: 5px;
}

.chatHistory .singleMessage {
	color: black;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	background-color: rgb(232, 232, 232);
	scroll-behavior: initial;

	margin-right: 3%;
	margin-top: 0%;
	overflow-wrap: break-word;
}

.dropdownMenuAvatar {
	position: absolute;
	display: block;
}

.chatBar {
	margin-top: 2%;
	margin-left: 2%;
	width: 95%;
	border-radius: 5px;
	background-color: #e0e0e0;
}

.myChats {
	margin-top: -42.4%;
	margin-bottom: 0%;
	margin-left: 72%;
	margin-right: 0%;

	border-radius: 15px;
	border-style: solid;
	border-color: white;
	border-width: 3px;
	background-color: rgba(240, 234, 234, 0.671);

	width: 26%;
	height: 88vh;
}

.myChats h1 {
	color: black;
	margin-left: 3%;
}

.myChats .button > div {
	margin-left: 50%;
	margin-top: -15%;

	padding: 15px 30px;
	color: white;
	border-color: white;
	background-color: black;
}

.myChats .trucblanc {
	margin-top: -4%;
	margin-bottom: 0%;
	margin-left: 4%;
	margin-right: 0%;

	overflow-y: scroll;
	scroll-behavior: smooth;
	scrollbar-color: grey darkgrey;
	scrollbar-gutter: auto;

	border-radius: 15px;
	border-width: 3px;
	background-color: rgba(18, 17, 17, 0.671);

	width: 92%;
	height: 77vh;
}

.myChats .trucblanc .flex {
	color: black;
	border-style: solid;
	border-width: 0px;
	border-radius: 5px;
	width: 90%;
	background-color: rgb(232, 232, 232);

	margin-top: 5%;
	margin-left: 5%;
	height: 8vh;
	cursor: pointer;
}

.myChats .trucblanc h1 {
	font-size: 25px;
	padding: 5px;
}

.myChats .trucblanc p {
	margin-left: 4%;
	margin-top: -2%;
}

.modal {
	background-color: grey;
	border-radius: 5px;
	width: fit-content;
	height: fit-content;
	margin: auto;
	padding: 1%;
}

.modal .boxModal {
	display: flex;
	flex-direction: column;
}

.modal .create {
	color: white;
	border-color: white;
	background-color: black;
	width: 6vw;
	height: 5vh;
	align-self: center;
	padding: 5% 5% 5% 11%;
}
