.game .Buttons {
    margin-left: 35%;
    margin-top: -5%
}

.game #timer {
    margin-left: 40.5%;
    margin-top: -1%;
    font-size: 35px;
    opacity: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.Pong img {
	
	margin-left: 33.5%;

}