.Container {
	margin-left: 5%;
}

.Header {
	margin-left: 17%;
	margin-top: 7vh;
	margin-bottom: 2vh;
	display: flex;
}

.Header img {
	width: 15%;
	height: 12%;
	border: 3px;
	border-color: black;
	border-style: solid;
}

.Header .Infos {
	margin-left: 3%;
}

.Header .Infos .Buttons > div {
	padding: 15px 30px;
	margin-left: 0px;
}
.Header h1 {
	margin-top: 0px;
}

.ProfileInfo {
	margin-left: 17%;
	margin-top: 7vh;
	display: flex;
}

.MatchHistory {
	border-style: solid;
	border-color: darkgray;
	width: 13%;
	border-width: 5px;
	overflow: hidden;
	max-height: 380px;
	padding: 5px;
}

.MatchHistory > div {
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-style: solid;
	border-color: white;
	border-width: 1px;
	padding: 5px;
	transition: 300ms;
}

.MatchHistory > div:hover {
}

.ProfileInfo .Stats {
	margin-left: 3%;
	border-style: solid;
	border-color: darkgray;
	border-width: 5px;
	padding: 8px;
	width: 16%;
	height: 380px;
}

.ProfileInfo .Stats .Rank {
	display: flex;
}

.ProfileInfo .Stats .Rank > svg {
	font-size: 60px;
	margin: 5%;
}

.ProfileInfo .Stats .Rank h2 {
	margin: 20px;
	font-size: 50px;
}

.ProfileInfo .Stats .Rank h3 {
	font-size: 30px;
	margin-top: 15px;
	margin-left: -20px;
}

.Stats .Ratio > svg {
	width: 120px;
	height: 120px;
	display: block;
	margin: 15% auto;
	border-style: solid;
	border-color: rgb(0, 0, 0);
	border-width: 3px;
	border-radius: 50%;
}

.Stats .LevelProgress {
	display: flex;
	margin-top: 10%;
}

.Stats .LevelProgress > span {
	margin-top: 15px;
	margin-right: 10px;
}
